In [2]:
import numpy as np
import pandas as pd
from time import time
from sklearn.metrics import f1_score

# Read student data
student_data = pd.read_csv("student-data.csv")
print ("Student data read successfully!")

Student data read successfully!

In [3]:
student_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes
5,GP,M,16,U,LE3,T,4,3,services,other,...,yes,no,5,4,2,1,2,5,10,yes
6,GP,M,16,U,LE3,T,2,2,other,other,...,yes,no,4,4,4,1,1,3,0,yes
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,no,no,4,1,4,1,1,1,6,no
8,GP,M,15,U,LE3,A,3,2,services,other,...,yes,no,4,2,2,1,1,1,0,yes
9,GP,M,15,U,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,yes
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,yes,no,3,3,3,1,2,2,0,no
11,GP,F,15,U,GT3,T,2,1,services,other,...,yes,no,5,2,2,1,1,4,4,yes
12,GP,M,15,U,LE3,T,4,4,health,services,...,yes,no,4,3,3,1,3,5,2,yes
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,no,5,4,3,1,2,3,2,yes
14,GP,M,15,U,GT3,A,2,2,other,other,...,yes,yes,4,5,2,1,1,3,0,yes
15,GP,F,16,U,GT3,T,4,4,health,other,...,yes,no,4,4,4,1,2,2,4,yes
16,GP,F,16,U,GT3,T,4,4,services,services,...,yes,no,3,2,3,1,2,2,6,yes
17,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,5,3,2,1,1,4,4,yes
18,GP,M,17,U,GT3,T,3,2,services,services,...,yes,no,5,5,5,2,4,5,16,no
19,GP,M,16,U,LE3,T,4,3,health,other,...,yes,no,3,1,3,1,3,5,4,yes
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,no,4,4,1,1,1,1,0,yes
21,GP,M,15,U,GT3,T,4,4,health,health,...,yes,no,5,4,2,1,1,5,0,yes
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,yes,no,4,5,1,1,3,5,2,yes
23,GP,M,16,U,LE3,T,2,2,other,other,...,yes,no,5,4,4,2,4,5,0,yes
24,GP,F,15,R,GT3,T,2,4,services,health,...,yes,no,4,3,2,1,1,5,2,no
25,GP,F,16,U,GT3,T,2,2,services,services,...,yes,no,1,2,2,1,3,5,14,no
26,GP,M,15,U,GT3,T,2,2,other,other,...,yes,no,4,2,2,1,2,5,2,yes
27,GP,M,15,U,GT3,T,4,2,health,services,...,yes,no,2,2,4,2,4,1,4,yes
28,GP,M,16,U,LE3,A,3,4,services,other,...,yes,no,5,3,3,1,1,5,4,yes
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,yes,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,no,no,3,3,4,2,4,3,4,yes
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,yes,yes,4,2,2,2,2,5,0,yes
367,MS,F,17,R,GT3,T,1,1,other,services,...,yes,yes,5,2,1,1,2,1,0,no
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,yes,yes,5,2,3,1,2,4,0,yes
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,yes,yes,3,2,2,4,2,5,10,yes
370,MS,F,19,U,LE3,T,3,2,services,services,...,no,yes,3,2,2,1,1,3,4,no
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,yes,yes,4,3,3,2,3,3,3,yes
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,no,yes,3,4,3,1,1,3,8,yes
373,MS,F,17,R,GT3,T,1,2,other,other,...,yes,no,3,5,5,1,3,1,14,no
374,MS,F,18,R,LE3,T,4,4,other,other,...,yes,no,5,4,4,1,1,1,0,yes
375,MS,F,18,R,GT3,T,1,1,other,other,...,yes,no,4,3,2,1,2,4,2,yes
376,MS,F,20,U,GT3,T,4,2,health,other,...,yes,yes,5,4,3,1,1,3,4,yes
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,yes,no,5,4,3,3,4,2,4,yes
378,MS,F,18,U,GT3,T,3,3,other,other,...,yes,yes,4,1,3,1,2,1,0,yes
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,yes,no,4,5,4,2,3,1,17,yes
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,yes,no,3,2,4,1,4,2,4,yes
381,MS,M,18,R,GT3,T,2,1,other,other,...,yes,yes,4,4,3,1,3,5,5,no
382,MS,M,17,U,GT3,T,2,3,other,services,...,yes,no,4,4,3,1,1,3,2,yes
383,MS,M,19,R,GT3,T,1,1,other,services,...,no,no,4,3,2,1,3,5,0,no
384,MS,M,18,R,GT3,T,4,2,other,other,...,no,no,5,4,3,4,3,3,14,no
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,no,no,5,3,3,1,3,4,2,yes
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,yes,yes,4,4,3,2,2,5,7,no
387,MS,F,19,R,GT3,T,2,3,services,other,...,yes,no,5,4,2,1,2,5,0,no
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,yes,no,4,3,4,1,1,1,0,no
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,no,1,1,1,1,1,5,0,no
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,no,5,5,4,4,5,4,11,no
391,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,3,yes
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,no,5,5,3,3,3,3,3,no
393,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,0,yes
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,yes,no,3,2,3,3,3,5,5,no

In [4]:
# Further Exploration using .head()
student_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [5]:
# This is a 395 x 31 DataFrame
student_data.shape

(395, 31)

In [6]:
# Type of data is a pandas DataFrame
# Hence I can use pandas DataFrame methods
type(student_data)

pandas.core.frame.DataFrame

Implementation: Data Exploration
The total number of students, n_students.
The total number of features for each student, n_features.
The number of those students who passed, n_passed.
The number of those students who failed, n_failed.
The graduation rate of the class, grad_rate, in percent (%).

In [7]:
# TODO: Calculate number of students
n_students = student_data.shape[0]

# TODO: Calculate number of features
n_features = student_data.shape[1] - 1

# TODO: Calculate passing students
# Data filtering using .loc[rows, columns]
passed = student_data.loc[student_data.passed == 'yes', 'passed']
n_passed = passed.shape[0]

# TODO: Calculate failing students
failed = student_data.loc[student_data.passed == 'no', 'passed']
n_failed = failed.shape[0]

# TODO: Calculate graduation rate
total = float(n_passed + n_failed)
grad_rate = float(n_passed * 100 / total)

# Print the results
print ("Total number of students: {}".format(n_students))
print ("Number of features: {}".format(n_features))
print ("Number of students who passed: {}".format(n_passed))
print ("Number of students who failed: {}".format(n_failed))
print ("Graduation rate of the class: {:.2f}%".format(grad_rate))

Total number of students: 395
Number of features: 30
Number of students who passed: 265
Number of students who failed: 130
Graduation rate of the class: 67.09%

Preparing the Data
In this section, we will prepare the data for modeling, training and testing.
Identify feature and target columns

In [9]:
# Columns
student_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [10]:
# We want to get the column name "passed" which is the last 
student_data.columns[-1]

'passed'

In [11]:
# This would get everything except for the last element that is "passed"
student_data.columns[:-1]

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences'],
      dtype='object')

In [12]:
# Extract feature columns
# As seen above, we're getting all the columns except "passed" here but we're converting it to a list
feature_cols = list(student_data.columns[:-1])

# Extract target column 'passed'
# As seen above, since "passed" is last in the list, we're extracting using [-1]
target_col = student_data.columns[-1]

# Show the list of columns
print ("Feature columns:\n{}".format(feature_cols))
print ("\nTarget column: {}".format(target_col))

# Separate the data into feature data and target data (X_all and y_all, respectively)
X_all = student_data[feature_cols]
y_all = student_data[target_col]

# Show the feature information by printing the first five rows
print ("\nFeature values:")
print (X_all.head())

Feature columns:
['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

Target column: passed

Feature values:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  higher internet  romantic  famrel  freetime goout Dalc Walc health absences
0    yes       no        no       4         3     4    1    1      3        6
1    yes      yes        no       5         3     3    1    1      3        4
2    yes      yes        no       4         3     2    2    3      3       10
3    yes      yes       yes       3         2     2    1    1      5        2
4    yes       no        no       4         3     2    1    2      5        4

[5 rows x 30 columns]

Preprocess Feature Columns

In [14]:
def preprocess_features(X):
    ''' Preprocesses the student data and converts non-numeric binary variables into
        binary (0/1) variables. Converts categorical variables into dummy variables. '''

    # Initialize new output DataFrame
    output = pd.DataFrame(index = X.index)

    # Investigate each feature column for the data
    for col, col_data in X.iteritems():

        # If data type is non-numeric, replace all yes/no values with 1/0
        if col_data.dtype == object:
            col_data = col_data.replace(['yes', 'no'], [1, 0])

        # If data type is categorical, convert to dummy variables
        if col_data.dtype == object:
            # Example: 'school' => 'school_GP' and 'school_MS'
            col_data = pd.get_dummies(col_data, prefix = col)

        # Collect the revised columns
        output = output.join(col_data)

    return output

X_all = preprocess_features(X_all)
print ("Processed feature columns ({} total features):\n{}".format(len(X_all.columns), list(X_all.columns)))

Processed feature columns (48 total features):
['school_GP', 'school_MS', 'sex_F', 'sex_M', 'age', 'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 'Pstatus_A', 'Pstatus_T', 'Medu', 'Fedu', 'Mjob_at_home', 'Mjob_health', 'Mjob_other', 'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course', 'reason_home', 'reason_other', 'reason_reputation', 'guardian_father', 'guardian_mother', 'guardian_other', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

Implementation: Training and Testing Data SplitÂ¶

In [16]:
# TODO: Import any additional functionality you may need here
from sklearn.model_selection import train_test_split

In [18]:
# For initial train/test split, we can obtain stratification by simply using stratify = y_all:
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, stratify = y_all, test_size=95, random_state=42)

# Show the results of the split
print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 300 samples.
Testing set has 95 samples.

In [21]:
# To double check stratification
print (np.mean(y_train == 'no'))
print (np.mean(y_test == 'no'))

0.33
0.3263157894736842

Training and Evaluating Models

Setup

In [24]:
def train_classifier(clf, X_train, y_train):
    ''' Fits a classifier to the training data. '''

    # Start the clock, train the classifier, then stop the clock
    start = time()
    clf.fit(X_train, y_train)
    end = time()

    # Print the results
    print ("Trained model in {:.4f} seconds".format(end - start))


def predict_labels(clf, features, target):
    ''' Makes predictions using a fit classifier based on F1 score. '''

    # Start the clock, make predictions, then stop the clock
    start = time()
    y_pred = clf.predict(features)
    end = time()

    # Print and return results
    print ("Made predictions in {:.4f} seconds.".format(end - start))
    return f1_score(target.values, y_pred, pos_label='yes')


def train_predict(clf, X_train, y_train, X_test, y_test):
    ''' Train and predict using a classifer based on F1 score. '''

    # Indicate the classifier and the training set size
    print ("")
    print ("Training a {} using a training set size of {}. . .".format(clf.__class__.__name__, len(X_train)))

    # Train the classifier
    train_classifier(clf, X_train, y_train)

    # Print the results of prediction for both training and testing
    print ("F1 score for training set: {:.4f}.".format(predict_labels(clf, X_train, y_train)))
    print ("F1 score for test set: {:.4f}.".format(predict_labels(clf, X_test, y_test)))

Implementation: Model Performance Metrics

In [26]:
# TODO: Import the three supervised learning models from sklearn
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# TODO: Initialize the three models
clf_A = GaussianNB()
clf_B = LogisticRegression(random_state=42)
clf_C = SVC(random_state=42)

# TODO: Set up the training set sizes
X_train_100 = X_train.iloc[:100, :]
y_train_100 = y_train.iloc[:100]

X_train_200 = X_train.iloc[:200, :]
y_train_200 = y_train.iloc[:200]

X_train_300 = X_train.iloc[:300, :]
y_train_300 = y_train.iloc[:300]

# TODO: Execute the 'train_predict' function for each classifier and each training set size
# train_predict(clf, X_train, y_train, X_test, y_test)

for clf in [clf_A, clf_B, clf_C]:
    print ("\n{}: \n".format(clf.__class__.__name__))
    for n in [100, 200, 300]:
        train_predict(clf, X_train[:n], y_train[:n], X_test, y_test)

GaussianNB:


Training a GaussianNB using a training set size of 100. . .
Trained model in 0.0120 seconds
Made predictions in 0.0070 seconds.
F1 score for training set: 0.7752.
Made predictions in 0.0040 seconds.
F1 score for test set: 0.6457.

Training a GaussianNB using a training set size of 200. . .
Trained model in 0.0060 seconds
Made predictions in 0.1360 seconds.
F1 score for training set: 0.8060.
Made predictions in 0.0040 seconds.
F1 score for test set: 0.7218.

Training a GaussianNB using a training set size of 300. . .
Trained model in 0.0070 seconds
Made predictions in 0.0020 seconds.
F1 score for training set: 0.8134.
Made predictions in 0.0040 seconds.
F1 score for test set: 0.7761.

LogisticRegression:


Training a LogisticRegression using a training set size of 100. . .
Trained model in 0.0860 seconds
Made predictions in 0.0380 seconds.
F1 score for training set: 0.8671.
Made predictions in 0.0020 seconds.
F1 score for test set: 0.7068.

Training a LogisticRegression using a training set size of 200. . .
Trained model in 0.0080 seconds

C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Made predictions in 0.0020 seconds.
F1 score for training set: 0.8211.
Made predictions in 0.0040 seconds.
F1 score for test set: 0.7391.

Training a LogisticRegression using a training set size of 300. . .
Trained model in 0.0100 seconds
Made predictions in 0.0020 seconds.
F1 score for training set: 0.8512.
Made predictions in 0.0040 seconds.
F1 score for test set: 0.7500.

SVC:


Training a SVC using a training set size of 100. . .
Trained model in 0.0830 seconds
Made predictions in 0.0020 seconds.
F1 score for training set: 0.8354.
Made predictions in 0.0020 seconds.
F1 score for test set: 0.8025.

Training a SVC using a training set size of 200. . .
Trained model in 0.0060 seconds
Made predictions in 0.0030 seconds.
F1 score for training set: 0.8431.
Made predictions in 0.0030 seconds.
F1 score for test set: 0.8105.

Training a SVC using a training set size of 300. . .
Trained model in 0.0100 seconds
Made predictions in 0.0070 seconds.
F1 score for training set: 0.8664.
Made predictions in 0.0030 seconds.
F1 score for test set: 0.8052.

C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
Classifer 1 - Naive Bayes

Training Set Size	Training Time	Prediction Time (test)	F1 Score (train)	F1 Score (test)
100	0.0012	0.0003	0.7752	0.6457
200	0.0026	0.0002	0.8060	0.7218
300	0.0008	0.0003	0.8134	0.7761

Classifer 2 - Logistic Regression

Training Set Size	Training Time	Prediction Time (test)	F1 Score (train)	F1 Score (test)
100	0.0020	0.0001	0.8671	0.7068
200	0.0018	0.0001	0.8211	0.7391
300	0.0034	0.0002	0.8512	0.7500

Classifer 3 - Support Vector Machines

Training Set Size	Training Time	Prediction Time (test)	F1 Score (train)	F1 Score (test)
100	0.0011	0.0007	0.8366	0.8025
200	0.0043	0.0011	0.8552	0.8105
300	0.0066	0.0019	0.8615	0.8052